@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/base/fonts";

.pageCatalog {
}

.wrapper {
    display: flex;
	@media screen and(max-width:1100px) {
		justify-content: center;
	}
}

.pagination {
	margin: 70px 0 95px;
	display:flex;
	justify-content: center;
}