@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/base/fonts";
@import "./../../../scss/abstracts/mixins/mixins";

.buttonSorting {
    @include font3(12px,1.2,$SfProBold);
    padding: 7px 10px;
    text-transform:uppercase;
    letter-spacing: 0,7px;
    margin: 5px;
}

